COMMANDS.md
COMMANDS2.md
REMINDERS.md
AGENT_RULES.md
USERS.md
node_modules
dist
build
.env
.DS_Store
.vscode
.idea
.env.local
scripts

## Manual Tests to run occasionally
**/EmailService.manual.test.ts