.c-navigation-bar {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

@media (max-width: 768px) {
    .c-navigation-bar {
        flex-direction: column;
        width: 100%;
        gap: 0.75rem;
    }
}
